<% if @device && @device.valid_response? %>
  <section class="product-info">
    <ul class="prod-list clearfix">
      <li>
        <span class="subheading">Model</span>
        <span class="value"><%= @device.description %></span>
      </li>
      <li>
        <span class="subheading">Ship Date</span>
        <span class="value"><%= @device.ship_date %></span>
      </li>
      <li>
        <span class="subheading">Warranty Status</span>
        <% if @device.warranties.is_a?(Hash) %>
          <span class="value">
            <span class="mega-octicon <%= warranty_icon(@device.warranties['EndDate']) %>"></span>
            <%= @device.warranties["ServiceLevelDescription"] %>
          </span>
        <% else %>
          <% @device.warranties.each do |warranty| %>
            <span class="value">
              <span class="mega-octicon <%= warranty_icon(warranty['EndDate']) %>"></span>
              <%= warranty["ServiceLevelDescription"] %>
            </span>
          <% end %>
        <% end %>
      </li>
    </ul>
  </section>
<% else %>
  <section class="placeholder">
    <h2>Search for a service tag to see warranty information.</h1>
  </section>
<% end %>
